.form-program {
  margin-top: 50px;
}

.form-program__info-block,
.form-program__radio-block,
.form-program__owner-block,
.form-program__comment-block,
.form-program__checkbox-block,
.form-program__submit-block {
  margin: 0;
  padding: 0;

  border: none;
}

.form-program__title-sweet,
.form-program__title-water,
.form-program__title-milk,
.form-program__title-vitamin,
.form-program__title {
  position: relative;

  font-size: 16px;
  line-height: 18px;
  color: $main-font-color;
  text-transform: uppercase;
}

.form-program__title sup {
  position: relative;
  top: -3px;
  left: 1px;
}

.form-program__info-block {
  margin-top: -10px;
  padding-bottom: 10px;
}

.form-program__element-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 0 20px;
  margin-bottom: 15px;
}

.form-program__name {
  width: 230px;
}

.form-program__weight {
  width: 205px;
}

.form-program__age {
  width: 170px;
}

.form-program__radio-block {
  min-height: 144px;
  padding: 14px 20px 0 65px;
  margin-top: -7px;
  margin-bottom: 22px;

  border-top: 1px solid $add-components-color;
  border-bottom: 1px solid $add-components-color;
}

.form-program__radio-list {
  display: flex;
  flex-direction: column;

  min-height: inherit;

  @include reset-list();
}

.form-program__radio-item {
  position: relative;
  margin: 10px 0;
}

.form-program__radio-input {
  opacity: 0;

  &:hover ~ .form-program__control-radio,
  &:focus ~ .form-program__control-radio {
    border-color: #bcbcbc;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active ~ .form-program__control-radio {
    border: 2px solid $components-color;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }

  &:disabled ~ .form-program__control-radio {
    border-color: rgba(206, 206, 206, 0.3);
  }

  &:disabled ~ .form-program__radio-content {
    color: rgba(34, 34, 34, 0.3)
  }

  // ... , но работает!
  &:checked ~ .form-program__control-radio::before {
    content: "";

    position: absolute;
    top: 52%;
    right: 27%;

    width: 12px;
    height: 12px;

    // background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 12px 12px;
    background-color: $components-color;

    border-radius: 50%;

    transform: translateX(100%);
    transform: translateY(-50%);
  }
}

.form-program__control-radio {
  position: absolute;
  top: -3px;
  left: -46px;

  width: 29px;
  height: 29px;

  border: 1px solid #cecece;
  border-radius: 50%;
  box-sizing: border-box;
}

.form-program__radio-content {
  display: inline-block;
  margin-top: 3px;
  margin-left: -16px;
}

.form-program__owner-block {
  position: relative;
  padding: 30px 0;
}

.form-program__owner-title {
  position: relative;
  padding: 5px 20px 4px;

  font-size: 24px;
  line-height: 24px;
  color: $main-font-color;

  &::after {
    content: "";

    position: absolute;
    top: 20px;
    right: 0;

    width: 99px;
    height: 3px;

    background-color: $components-color;
  }
}

.form-program__email {
  position: relative;

  width: 220px;
  padding-right: 40px;

  text-transform: uppercase;

  box-sizing: border-box;

  background: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 186px 16px;
  background-size: 17px 13px;

  &:focus {
    background-position: 185px 15px;
  }
}

.form-program__phone {
  position: relative;

  width: 204px;
  padding-right: 40px;

  text-transform: uppercase;

  background: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 170px 12px;
  background-size: 20px 20px;

  &:focus {
    background-position: 169px 11px;
  }
}

.form-program__comment-block {
  margin: -18px 0 27px;
  padding: 0 20px;
}

.form-program__comment-title {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 24px;
  color: $main-font-color;

  &::after {
    content: "";

    position: absolute;
    top: 14px;
    right: -20px;

    width: 158px;
    height: 3px;

    background-color: $components-color;
  }
}

.form-program__comment {
  width: 100%;
  min-height: 150px;
  padding-top: 10px;

  text-align: center;

  border: 1px solid $add-components-color;

  resize: none;
  box-sizing: border-box;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    padding-top: 9px;

    border-width: 2px;
    border-color: #444444;
  }
}

.form-program__checkbox-block {
  margin-bottom: 19px;
}

.form-program__checkbox-title {
  position: relative;

  width: 100%;
  margin-bottom: 40px;
  padding: 0 20px;

  font-size: 24px;
  line-height: 24px;
  color: $main-font-color;

  &::after {
    content: "";

    position: absolute;
    top: 15px;
    right: 0;

    width: 136px;
    height: 3px;

    background-color: $components-color;
  }
}

.form-program__checkbox-list {
  display: flex;
  flex-direction: column;

  @include reset-list();
}

.form-program__checkbox-item {
  min-height: 42px;
  padding-left: 65px;

}

.form-program__checkbox-input {
  opacity: 0;

  &:hover ~ .form-program__control-checkbox,
  &:focus ~ .form-program__control-checkbox {
    border-color: #bcbcbc;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active ~ .form-program__control-checkbox {
    border: 2px solid $components-color;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }

  &:disabled ~ .form-program__control-checkbox {
    border-color: rgba(206, 206, 206, 0.3);
  }

  &:disabled ~ .form-program__checkbox-content {
    color: rgba(34, 34, 34, 0.3);
  }

  &:checked ~ .form-program__control-checkbox::before {
    content: "";

    position: absolute;
    top: 60%;
    left: 16%;
    transform: translateX(-16%);
    transform: translateY(-60%);

    width: 21px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 21px 16px;
  }
}

.form-program__checkbox-content {
  margin-left: -17px;
}

.form-program__control-checkbox {
  position: absolute;
  top: -3px;
  left: -46px;

  width: 30px;
  height: 30px;

  border: 1px solid #cecece;

  box-sizing: border-box;
}

.form-program__submit-block {
  padding: 0 20px;
  margin-bottom: 31px;

  text-align: center;
}

.form-program__submit {
  width: 280px;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 20px;
  color: $add-font-color;
}

.form-program__note {
  display: inline-block;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $paragraph-font-color;
}

@media (min-width: $tablet-width) {
  .form-program {
    margin-bottom: 57px;
  }

  .form-program__info-block {
    margin-top: 65px;
    margin-bottom: 60px;

    box-sizing: border-box;
  }

  .form-program__title-sweet,
  .form-program__title-water,
  .form-program__title-milk,
  .form-program__title-vitamin,
  .form-program__title {
    position: relative;

    font-size: 20px;
    line-height: 20px;
  }

  .form-program__name {
    width: 567px;
  }

  .form-program__weight {
    width: 537px;
  }

  .form-program__age {
    width: 497px;
  }

  .form-program__radio-block {
    min-height: 190px;
    padding-left: 87px;
    margin: -20px 70px 70px;
    padding-top: 0;

    border: 1px solid $add-components-color;
  }

  .form-program__radio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 5px;
    margin-left: -5px;
  }

  .form-program__radio-item {
    display: flex;
    align-items: center;

    padding: 0;
    margin: 15px 0;

    min-height: 20px;
  }

  .form-program__radio-input {
    &:checked ~ .form-program__control-radio::before {
      top: 50%;
      right: 50%;
      left: 27%;
      transform: translateX(50%);
      transform: translateY(-50%);

      width: 18px;
      height: 18px;

      background-size: 18px 18px;
    }
  }

  .form-program__control-radio {
    top: -7px;
    left: -55px;

    width: 39px;
    height: 39px;
  }

  .form-program__owner-block {
    margin-bottom: 31px;
  }

  .form-program__owner-title {
    padding-left: 70px;
    padding-bottom: 28px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";

      position: absolute;
      top: 26px;
      left: 0;

      width: 30px;
      height: 3px;

      background-color: $components-color;
    }

    &::after {
      content: "";

      position: absolute;
      top: 26px;
      right: -166px;

      width: 146px;
      height: 3px;

      background-color: $components-color;
    }
  }

  .form-program__element-block {
    margin: 0 50px 20px;
  }

  .form-program__email {
    width: 550px;
    margin-top: 16px;

    background: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 515px 20px;
    background-size: 17px 13px;

    &:focus {
      background-size: 17px 13px;
      background-position: 514px 19px;
    }
  }

  .form-program__phone {
    width: 535px;

    background: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 500px 18px;
    background-size: 20px 20px;

    &:focus {
      background-size: 20px 21px;
      background-position: 499px 17px;
    }
  }

  .form-program__comment-block {
    padding: 0 70px;
    margin-bottom: 65px;
  }

  .form-program__comment-title {
    padding-bottom: 40px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";

      position: absolute;
      top: 24px;
      left: -71px;

      width: 30px;
      height: 3px;

      background-color: $components-color;
    }

    &::after {
      content: "";

      position: absolute;
      top: 24px;
      right: -70px;
      width: 480px;
      height: 3px;

      background-color: $components-color;
    }
  }

  .form-program__comment {
    min-height: 175px;
    text-align: left;
    text-indent: 17px;

    font-size: 20px;
    line-height: 30px;

    &:focus {
      text-indent: 16px;
    }
  }

  .form-program__checkbox-block {
    padding: 0 70px;
  }

  .form-program__checkbox-title {
    padding: 0;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";

      position: absolute;
      top: 24px;
      left: -71px;

      width: 30px;
      height: 3px;

      background-color: $components-color;
    }

    &::after {
      content: "";

      position: absolute;
      top: 24px;
      right: -70px;
      width: 446px;
      height: 3px;

      background-color: $components-color;
    }
  }

  .form-program__checkbox-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include reset-list();
  }

  .form-program__checkbox-item {
    width: 227px;
    min-height: 44px;
    padding-left: 57px;
    margin-top: 28px;
  }

  .form-program__checkbox-input {
    &:checked ~ .form-program__control-checkbox::before {
      top: 50%;
      left: 20%;
      transform: translateX(-20%);
      transform: translateY(-50%);
    }
  }

  .form-program__control-checkbox {
    left: -57px;

    width: 38px;
    height: 38px;
  }

  .form-program__submit-block {
    margin-top: 40px;
    margin-left: -162px;
  }

  .form-program__submit {
    font-size: 20px;
    line-height: 20px;

    min-height: 53px;
  }

  .form-program__note {
    position: relative;
    top: -5px;
    left: 60px;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form-program__block {
    display: flex;

    padding: 12px 110px 0;
    margin-top: 30px;
    margin-bottom: -5px;
  }

  .form-program__info-block {
    flex-shrink: 0;

    margin: 0;
    padding: 0;
    width: 570px;
  }

  .form-program__title {
    margin: 0;
    padding: 0;
  }

  .form-program__element-block {
    margin: 0;
    padding: 0;

    margin-bottom: 18px;
  }

  .form-program__name {
    width: 509px;
  }

  .form-program__weight {
    width: 479px;
  }

  .form-program__age {
    width: 437px;
  }

  .form-program__radio-block {
    flex-shrink: 0;

    width: 570px;
    min-height: 188px;
    margin-top: 0;
    margin-left: 77px;

    box-sizing: border-box;
  }

  .form-program__radio-input {
    &:checked ~ .form-program__control-radio::before {
      top: 50%;
      left: 28%;
      right: -50%;
      transform: translateX(-100%);
      transform: translateY(-50%);

      width: 18px;
      height: 18px;

      background-size: 18px 18px;
    }
  }

  .form-program__owner-block {
    margin-bottom: 40px;
  }

  .form-program__owner-title {
    padding-left: 110px;

    &::before {
      top: 28px;
      left: 0;

      width: 70px;
      height: 3px;
    }

    &::after {
      top: 27px;
      right: -797px;

      width: 775px;
      height: 3px;
    }
  }

  .form-program__owner-element {
    display: flex;
    justify-content: space-between;

    padding: 0 110px;
  }

  .form-program__owner-block .form-program__element-block {
    margin-top: 18px;
  }

  .form-program__email {
    width: 487px;
    margin-left: 19  px;
    margin-top: 0;

    background: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 450px 19px;
    background-size: 17px 13px;

    &:focus {
      background-position: 449px 18px;
    }
  }

  .form-program__phone {
    width: 473px;
    margin-left: 20px;
    margin-top: 0;

    background: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 432px 17px;
    background-size: 20px 20px;

    &:focus {
      background-position: 431px 16px;
    }
  }

  .form-program__comment-block {
    padding: 0 110px;
  }

  .form-program__comment-title {
    margin-top: -5px;

    &::before {
      top: 24px;
      left: -110px;

      width: 70px;
      height: 3px;
    }

    &::after {
      top: 24px;
      right: -110px;

      width: 1112px;
      height: 3px;
    }
  }

  .form-program__checkbox-block {
    padding: 0 110px;
  }

  .form-program__checkbox-list {
    margin-left: -5px;
  }

  .form-program__checkbox-title {
    &::before {
      top: 25px;
      left: -110px;

      width: 70px;
      height: 3px;
    }

    &::after {
      top: 25px;
      right: -110px;

      width: 1079px;
      height: 3px;
    }
  }

  .form-program__title-sweet,
  .form-program__title-water,
  .form-program__title-milk,
  .form-program__title-vitamin {
    top: 2px;
    left: 5px;
  }

  .form-program__title-water {
    margin-left: 14px;
  }

  .form-program__title-milk {
    margin-left: 26px;
  }

  .form-program__title-vitamin {
    margin-left: 40px;
  }

  .form-program__submit-block {
    padding: 0 110px;
    margin: 0;
    text-align: left;
  }

  .form-program__submit {
    width: 570px;
    height: 53px;
    margin-top: 30px;
  }

  .form-program__note {
    left: 77px;
  }
}
