.gifts {
  text-align: center;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $components-color;
}

.gifts__description {
  padding-top: 188px;

  font-family: Arial, sans-serif;

  @include font(16px, 20px, $add-font-color);
}
