.gifts {
  position: relative;
  top: -5px;

  height: 290px;
  width: 280px;
  margin: 0 20px;
  margin-bottom: 30px;

  text-align: center;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $components-color;
}

.gifts__description {
  position: relative;
  top: 185px;

  display: block;
  padding: 0 60px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $add-font-color;
}
