.main-catalog__title {
  margin: 15px 0 27px 0;
  padding: 0 20px;

  font-size: 36px;
  line-height: 60px;
  color: $main-font-color;
}

.main-catalog__item {
  min-height: 208px;

  border-top: 1px solid $add-components-color;
}

.main-catalog__item-block {
  display: flex;
  padding: 0 20px;
}

.main-catalog__product-image {
  position: relative;

  width: 140px;
  height: 144px;
}

.main-catalog__product-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 18px;
  margin-bottom: 20px;
}

.main-catalog__product-title {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 6px;
  padding-right: 30px;

  font-size: 16px;
  line-height: 20px;
  color: $main-font-color;
  text-transform: uppercase;
  // hyphens: auto;
  // word-wrap: break-word;
}

.main-catalog__product-desc {
  width: 140px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $paragraph-font-color;
}

.main-catalog__field {
  margin: 0;
  padding: 0;

  text-align: left;
}

.main-catalog__value {
  margin: 0;
  padding: 0;

  text-align: right;
}

.main-catalog__order-button {
  display: block;
  width: 280px;
  margin: 0 20px;

  font-size: 16px;
  line-height: 40px;
  color: $add-font-color;
  text-align: center;
  text-transform: uppercase;
}

.main-catalog__viewall {
  display: flex;
  flex-direction: column;

  padding-bottom: 24px;

  border-top: 1px solid $add-components-color;
}

.main-catalog__viewall-button--color {
  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(126, 126, 126, 0.3);
  }
}

.main-catalog__viewall-title {
  position: relative;

  padding-top: 82px;
  padding-bottom: 7px;

  font-size: 16px;
  line-height: 20px;
  color: $main-font-color;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 145px;

    width: 30px;
    height: 30px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-position: 0 0;
    background-size: 30px 30px;
    background-repeat: no-repeat;

    opacity: 0.2;
  }
}

.main-catalog__viewall-description {
  padding-bottom: 20px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $paragraph-font-color;
  text-align: center;
}

.main-catalog__viewall-button {
  width: 280px;
  min-height: 40px;
  margin: 0 20px;

  font-size: 16px;
  line-height: 40px;
  color: $paragraph-font-color;
  text-transform: uppercase;
  text-align: center;

  background-color: $add-back-color;
}

@media (min-width: $tablet-width) {
  .main-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 30px;
    margin-bottom: 60px;
  }

  .main-catalog__title {
    margin-top: 30px;
    margin-left: -20px;
    margin-bottom: 30px;
    width: 100%;

    font-size: 60px;
  }

  .main-catalog__item {
    position: relative;

    width: 324px;
    min-height: 432px;
    margin-top: 54px;


    border-top: none;

    box-sizing: border-box;
  }

  .main-catalog__item-block {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 83px;

    min-height: 432px;
    padding: 0;

    background-color: #f2f2f2;

    box-sizing: border-box;
  }

  .main-catalog__product-block {
    width: 324px;
    margin: 0;
    padding: 0;
  }

  .main-catalog__product-title {
    position: relative;
    bottom: 46px;

    padding: 0 40px;
    margin: inherit;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .main-catalog__item:nth-child(2n+1) .main-catalog__product-title {
    bottom: 50px;
  }

  .main-catalog__product-image {
    position: relative;
    left: 0;
    top: -72px;

    width: 324px;
    height: auto;
  }

  .main-catalog__item:nth-child(2n+1) .main-catalog__product-image {
    top: -100px;
  }

  .main-catalog__product-desc {
    position: relative;
    bottom: 88px;

    width: 250px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 32px;

    border-collapse: collapse;
  }

  .main-catalog__item:nth-child(2n+1) .main-catalog__product-desc {
    bottom: 95px;
  }

  .main-catalog__field {
    border-bottom: 2px solid #e6e6e6;
  }

  .main-catalog__value {
    border-bottom: 2px solid #e6e6e6;
  }


  .main-catalog__order-button {
    position: absolute;
    left: 40px;
    right: 40px;

    width: 248px;
    min-height: 40px;

    margin: 0 auto;
    margin-top: -82px;
  }

  .main-catalog__viewall {
    width: 324px;
    min-height: 432px;
    margin-top: 137px;
    padding: 0 40px;

    box-sizing: border-box;
    border: 1px solid #e6e6e6;
  }

  .main-catalog__viewall-title {
    padding: 0 30px;
    padding-top: 167px;
    font-size: 20px;

    line-height: 20px;

    &::before {
      content: "";

      position: absolute;
      top: 58px;
      left: 92px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-plus.svg");
      background-position: 0 0;
      background-size: 60px 60px;
      background-repeat: no-repeat;

      opacity: 0.2;
    }
  }

  .main-catalog__viewall-description {
    margin-top: 25px;
    padding: 0 30px;

    font-size: 16px;
    line-height: 20px;
  }

  .main-catalog__viewall-button {
    width: 248px;
    min-height: 40px;
    margin: 0 auto;
    margin-top: 83px;

    font-size: 16px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog {
    padding: 0 40px;
    margin-bottom: 36px;
  }

  .main-catalog__title {
    padding: 0;
    margin-top: 8px;
    margin-left: 0;
    margin-bottom: 28px;
  }

  .main-catalog__item {
    width: 245px;
    min-height: 515px;
  }

  .main-catalog__item:nth-child(n + 4) {
    margin-top: 55px;  //?
  }

  .main-catalog__item-block {
    min-height: 432px;
  }

  .main-catalog__product-block {
    margin-top: -20px;
  }

  .main-catalog__product-title {
    bottom: 42px;

    padding: 0 40px;
  }

  .main-catalog__item:nth-child(2n+1) .main-catalog__product-title {
    bottom: 46px;
  }

  .main-catalog__product-image {
    top: -89px;

    width: 245px;
  }

  .main-catalog__item:nth-child(2n+1) .main-catalog__product-image {
    top: -116px;
  }

  .main-catalog__product-desc {
    bottom: 67px;
    width: 174px;
  }

  .main-catalog__item:nth-child(2n+1) .main-catalog__product-desc {
    bottom: 76px;
  }

  .main-catalog__order-button {
    width: 167px;
    margin-top: -83px;
  }

  .main-catalog__item:nth-child(n + 4) .main-catalog__order-button {
    margin-top: -78px;
  }

  .main-catalog__viewall {
    align-self: flex-end;

    width: 245px;
    min-height: 432px;
    padding: 0;
  }

  .main-catalog__viewall-button {
    width: 167px;
  }
}
