.main-nav {
  display: none;

  min-height: 200px;
  width: 100%;
}

.main-nav__nav--show {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: flex-end;

    min-width: 516px;
    min-height: 110px;
    padding-right: 30px; //?
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    align-items: center;

    min-height: 180px; //?
    padding: 0;
  }
}
