.main-advantages {
  padding: 0 20px;
  margin-bottom: 40px;
}

.main-advantages__title {
  font-size: 36px;
  line-height: 60px;
  color: $main-font-color;
}

.main-advantages__list {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .main-advantages {
    padding: 0 30px;
    margin-bottom: -35px;
  }

  .main-advantages__title {
    padding-top: 12px;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-advantages {
    padding: 0 110px;
  }

  .main-advantages__title {
    padding-top: 9px;
  }
}
