.main-example {
  padding-bottom: 38px;

  background-color: $add-back-color;
}

.main-example__block {
  padding: 0 20px;
}

.main-example__title {
  padding-top: 17px;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 60px;
  color: $main-font-color;
}

.main-example__description {
  margin-bottom: 24px;
  padding-right: 2px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $paragraph-font-color;
}

.main-example__results-block {
  display: flex;
  justify-content: space-between;
}

.main-example__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 123px;
  height: 55px;
  margin-bottom: 32px;

  border: 1px solid #cfcfcf;
}

.main-example__result {
  padding: 14px 0 10px 0;

  font-size: 24px;
  line-height: 24px;
  color: $main-font-color;
  text-transform: uppercase;
}

.main-example__result-description {
  display: inline-block;

  background-color: $add-back-color;
  text-align: center;
  padding: 0 20px;
  margin: 0 25px;
  margin-top: -2px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $paragraph-font-color;
  text-transform: lowercase;

  border-radius: 2px;
}

.main-example__cost {
  display: block;

  margin-bottom: 40px;

  font-size: 14px;
  line-height: 20px;
  color: $main-font-color;
  text-transform: uppercase;
  text-align: center;
}

.main-example__value {
  white-space: nowrap;
}

.main-example__result-block-before {
  margin: 0 -20px;
  margin-top: -5px;
}

.main-example_image-before {
  width: 320px;
  height: 240px;
}

.main-example__image-after {
  display: none;
}

.main-example__range {
  display: flex;
  justify-content: space-around;

  margin-top: 28px;
  margin-left: 25px;
  margin-right: 25px;
}

.main-example__range-element {
  position: relative;
  top: 4px;

  height: 12px;
  width: 80px;

  background-color: #ffffff;

  border: 1px solid #cdcdcd;
  border-radius: 8px;

  &::before {
    content: " ";

    position: absolute;
    top: 3px;
    left: 5px;

    height: 6px;
    width: 35px;

    background-color: #68b738;

    border-radius: 8px;
  }
}

.main-example__range-circle {
  display: none;
}

.main-example__range-start,
.main-example__range-end {
  position: relative;


  font-size: 16px;
  line-height: 20px;
  color: $main-font-color;
  text-transform: uppercase;
  background-color: transparent;

  border: none;

  // outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.main-example__range-start-span,
.main-example__range-end-span {
  border-bottom: 1px dotted #bebebe;
}

.main-example__range-start:hover > .main-example__range-start-span,
.main-example__range-end:hover > .main-example__range-end-span {
  border-bottom: 1px solid #bebebe;
}

.main-example__range-start:active > .main-example__range-start-span,
.main-example__range-end:active > .main-example__range-end-span {
  border-bottom-color: transparent;
}


@media (min-width: $tablet-width) {
  .main-example {
    margin-bottom: -64px;

    padding-bottom: 55px;

    background-color: transparent;
    // background: linear-gradient(to bottom, $main-back-color 26%, $add-back-color 26%);

    border-top: 1px solid #e6e6e6;
  }

  .main-example__block {
    position: relative;

    padding: 0 0;
    margin-bottom: 137px;
  }

  .main-example__example-block {
    padding: 0 30px;
  }

  .main-example__title {
    position: relative;
    top: -20px;

    padding-bottom: 18px;

    font-size: 60px;
  }

  .main-example__description {
    padding-right: 10px;

    font-size: 16px;
    line-height: 24px;
  }

  .main-example__results-block {
    justify-content: flex-start;

    padding-top: 29px;

    text-align: center;
  }

  .main-example__results {
    display: flex;
    flex-direction: column;
    width: 162px;
    min-height: 70px;
    padding: 0 20px;

    border: 1px solid #e6e6e6;

    box-sizing: border-box;
  }

  .main-example__results:first-child {
    margin-right: 42px;
  }

  .main-example__result {
    font-size: 30px;
    line-height: 37px;
  }

  .main-example__result-description {
    display: inline-block;

    margin: 0 -10px;
    padding: 0 5px;

    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: $paragraph-font-color;
    text-transform: lowercase;
    text-align: center;

    background-color: $main-back-color;
  }

  .main-example__cost {
    position: relative;
    top: -95px;
    left: 510px;

    display: block;
    width: 200px;

    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  .main-example__result-block {
    position: relative;
  }

  .main-example__result-block-before {
    position: absolute;
    top: -30px;
    width: 384px;
    height: 517px;
    margin: 0;
    overflow: hidden;
  }

  .main-example__result-block-after {
    position: absolute;
    top: -40px;
    left: 382px;
    z-index: 2;

    width: 200px;
    height: 517px;
    overflow: hidden;
  }

  .main-example__image-before {
    position: absolute;
    top: -10px;
    left: 45px;
    z-index: 3;

    display: block;
    width: 690px;
    height: 517px;
  }

  .main-example__image-after {
    position: absolute;
    display: inline-block;
    width: 690px;
    height: 517px;
    z-index: 3;

    margin-left: -337px;
  }

  .main-example__range {
    display: flex;
    justify-content: center;

    position: relative;
    top: 130px;

    width: 100%;
    height: 462px;
    margin: 0;

    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .main-example__range-start {
    display: inline-block;

    margin-top: 288px;

    font-size: 20px;
    line-height: 20px;
    vertical-align: top;
  }

  .main-example__range-element {
    top: 373px;
    height: 6px;
    width: 400px;
    padding: 0 12px;
    margin: 0 17px;

    background-color: #dcdcdc;

    border: none;

    &::before {
      display: none;
    }
  }

  .main-example__range-circle {
    position: absolute;
    display: block;
    top: 360px;
    left: 368px;
    width: 31px;
    height: 31px;
    z-index: 4;

    border: 1px solid #cdcdcd;
    border-radius: 50%;

    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    box-sizing: border-box;

    &::after {
      content: " ";

      position: absolute;
      top: 50%;
      left: 50%;

      width: 8px;
      height: 8px;

      border-radius: 50%;

      background-color: $components-color;
      transform: translateX(-50%) translateY(-50%);
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      border-color: #cdcdcd;
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid $components-color;
    }
  }

  .main-example__range-end {
    display: inline-block;

    margin-top: 288px;

    font-size: 20px;
    line-height: 20px;

    background: transparent;
  }
}

@media (min-width: $desktop-width) {
  .main-example {
    margin-bottom: -55px;

    border-top: none;
  }

  .main-example__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 0;
    background: linear-gradient(to bottom, $main-back-color 28%, #f2f2f2 28%);
  }

  .main-example__example-block {
    width: 570px;
    height: 642px;
    padding: 0 40px;

    box-sizing: border-box;
  }

  .main-example__result-block {
    width: 690px;
    height: 463px;
    margin-top: 180px;

    background: linear-gradient(to right, #f2f2f2 53%, #eaeaea 53%);

    box-sizing: border-box;
  }

  .main-example__title {
    padding-bottom: 98px;
  }

  .main-example__description {
    padding-top: 3px;
    width: 435px;
    margin-bottom: 20px;
  }

  .main-example__results {
    border: 2px solid #e6e6e6;

    border-radius: 2px;
  }

  .main-example__result-description {
    margin: 0 -10px;
    padding: 0 5px;

    background-color: #f2f2f2;
  }


  .main-example__results-block {
    position: relative;
    width: 435px;
    margin-top: 40px;
  }

  .main-example__result-block-before {
    position: absolute;
    top: -180px;
    left: -45px;
    width: 410px;
    height: 517px;
    overflow: hidden;
  }

  .main-example__result-block-after {
    position: absolute;
    top: -188px;
    left: 365px;

    width: 200px;
    height: 517px;
    overflow: hidden;
  }

  .main-example__image-before {
    position: absolute;
    top: -10px;
    left: 45px;
    z-index: 3;

    display: block;
    width: 690px;
    height: 517px;
  }

  .main-example__image-after {
    position: absolute;
    display: inline-block;
    z-index: 2;
    margin-left: -365px;
  }

  .main-example__cost {
    position: static;

    width: 100%;
    margin-top: 25px;

    text-align: left;
  }

  .main-example__value {
    padding-left: 50px;
  }

  .main-example__range {
    align-items: flex-start;

    z-index: 1;

    padding-top: 0;
    margin-left: 275px;
    margin-top: 290px;
    min-height: 463px;
    width: 400px;
    padding-right: 0;

    background: transparent;
  }

  .main-example__range-start {
    margin-top: -53px;
    margin-left: -230px;

    background-color: transparent;
  }

  .main-example__range-element {
    top: -46px;

    width: 400px;
    margin: 0 17px;
  }

  .main-example__range-circle {
    position: absolute;
    display: block;
    top: -60px;
    left: 75px;
    width: 31px;
    height: 31px;
    z-index: 4;

    border: 1px solid #cdcdcd;
    border-radius: 50%;

    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    box-sizing: border-box;

    &::after {
      content: " ";

      position: absolute;
      top: 51%;
      left: 51%;

      width: 8px;
      height: 8px;

      border-radius: 50%;

      background-color: $components-color;
      transform: translateX(-51%) translateY(-51%);
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      border-color: #cdcdcd;
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid $components-color;
    }
  }

  .main-example__range-end {
    margin-top: -53px;
    margin-right: -10px;

    background-color: transparent;
  }
}
