.main-header {
  margin-bottom: 22px;
}

.main-header__block {
  text-align: center;

  background-color: $components-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  // background-size: cover;
}

.main-header__title {
  font-size: 36px;
  line-height: 36px;
  color: $add-font-color;
}

.main-header__desc {
  font-size: 14px;
  line-height: 14px;
  color: $add-font-color;
  text-transform: uppercase;
}

.main-header__button {
  font-size: 14px;
  line-height: 18px;
  color: $add-font-color;
}
