.main-nav {
  display: block;

  min-height: 200px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;

    position: relative;
    left: -38px;

    width: 768px;
    min-height: 100px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
  }
}
