.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include reset-list();
}

.nav-list__item {
  display: flex;
  align-items: center;

  min-height: 66px;

  text-align: center;

  border-top: 1px solid #e6e6e6;

  box-sizing: border-box;
}

.nav-list__item-link {
  align-self: baseline;

  display: inline-block;

  width: 320px;
  margin: auto;

  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 66px;
  color: $main-font-color;
  text-transform: uppercase;

  border-bottom: 2px solid transparent;

  box-sizing: border-box;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .nav-list {
    flex-direction: row;
    justify-content: center;
  }

  .nav-list__item {
    min-height: 110px;
    padding: 0 15px;
    border-top: none;
  }

  .nav-list__item:last-child {
    padding-right: 0;
  }

  .nav-list__item-link {
    display: block;
    width: inherit;
    font-size: 18px;
    line-height: 42px;
  }

  .nav-list__item-link--active {
    border-bottom: 2px solid $components-color;
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    flex-direction: row;
    margin-top: -10px;
  }

  .nav-list__item {
    padding-right: 30px;
  }

  .nav-list__item-link {
    line-height: 43px;

    color: $main-font-color;
  }

  .nav-list__item-link--color {
    color: $main-back-color;
  }

  .page-header--position .nav-list__item-link--active {
    border-bottom: 2px solid $main-back-color;
  }

  .nav-list__item-link--active {
    border-bottom: 2px solid $components-color;
  }
}
