.nav-list__item {
  text-align: center;

  @include reset-list();
}

.nav-list__item-link {
  font-family: "Oswald Medium", "Arial", sans-serif;
  text-transform: uppercase;

  cursor: pointer;

  @include font(20px, 20px, $main-font-color);
}
