.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 66px;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 66px;
  min-width: 320px;
  padding: 0 20px;

  box-sizing: border-box;
}

.page-header__burger {
  width: 24px;
  height: 18px;

  border: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;

    min-height: 100px;
  }

  .page-header__block {
    display: flex;

    min-width: 708px;
    padding: 0 30px;
  }


  .page-header__container {
    min-width: 192px;
    padding-left: 40px;
  }


  .page-header__burger {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;

    min-height: 180px;
    padding: 0 110px;
  }

  .page-header__container {
    min-width: 192px;
  }

  .page-header__block {
    padding: 0;
    min-width: 1220px;
  }

  .page-header__burger {
    display: none;
  }
}
