.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 66px;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 66px;
  min-width: 320px;
  padding: 0 20px;

  box-sizing: border-box;
}

.page-header__logo-image {
  min-height: 59px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__burger-block {
  display: flex;
  align-items: flex-start;
}

.page-header__burger {
  width: 24px;
  height: 18px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: 24px 18px;
  background-position: 0 0;

  border: none;

  cursor: pointer;
}

@media (max-width: $mobile-width-only) {
  .page-header__burger--closed {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  .page-header__burger--opened {
    background-image: url("../img/icon-close.svg");
  }

  .page-header__burger--nojs {
    display: none;
  }

  .page-header--nojs {
    display: block;
  }

  .page-header__logo-link--nojs .page-header__logo-image {
    margin-left: 40px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;

    min-height: 100px;
  }

  .page-header__block {
    display: flex;

    min-width: 708px;
    padding: 0 30px;
  }

  .page-header__container {
    min-width: 192px;
    padding-left: 40px;
  }

  .page-header--position .page-header__logo-link {
    position: relative;
    left: -40px;
  }

  .page-header__logo-link {
    position: relative;
    left: -10px;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }

  .page-header__burger {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;

    min-height: 180px;
    padding: 0 40px;
  }

  .page-header--position {
    position: absolute;
  }

  .page-header__container {
    min-width: 192px;
    padding: 0;
  }

  .page-header--position .page-header__logo-image {
    left: 40px;
  }

  .page-header__logo-image {
    position: relative;
    left: 10px;
    top: -5px;

    width: 202px;
    height: 59px;
  }

  .page-header__block {
    padding: 0;
    min-width: 1220px;
  }

  .page-header__burger {
    display: none;
  }
}
