.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  min-height: 300px;

  @include reset-list();
}

.site-list__item {
  position: relative;

  display: inline-block;
  width: 280px;
  min-height: 60px;
  padding-left: 80px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $paragraph-font-color;
  box-sizing: border-box;
}

.site-list__item-content {
  position: relative;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $paragraph-font-color;
}

.site-list__item:first-child .site-list__item-content::before {
  content: "";

  position: absolute;
  left: -75px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .site-list__item:first-child .site-list__item-content::before {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:first-child .site-list__item-content::after {
  content: "";

  position: absolute;
  left: -80px;
  top: -3px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

.site-list__item:nth-child(2) .site-list__item-content::before {
  content: "";

  position: absolute;
  left: -75px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .site-list__item:nth-child(2) .site-list__item-content::before {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:nth-child(2) .site-list__item-content::after {
  content: "";

  position: absolute;
  left: -80px;
  top: -3px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

.site-list__item:nth-child(3) .site-list__item-content::before {
  content: "";

  position: absolute;
  left: -75px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .site-list__item:nth-child(3) .site-list__item-content::before {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:nth-child(3) .site-list__item-content::after {
  content: "";

  position: absolute;
  left: -80px;
  top: -3px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

.site-list__item:nth-child(4) .site-list__item-content::before {
  content: "";

  position: absolute;
  left: -75px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .site-list__item:nth-child(4) .site-list__item-content::before {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:nth-child(4) .site-list__item-content::after {
  content: "";

  position: absolute;
  left: -80px;
  top: -3px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 21px;
  }

  .site-list__item {
    min-height: 318px;
    width: 46%; // 354px
    padding-right: 110px;
    padding-left: 0;
    padding-top: 113px;

    font-size: 16px;
    line-height: 24px;

    box-sizing: border-box;

    &:first-child::after {
      content: "1";

      position: absolute;
      top: 0;
      left: 117px;

      margin-top: -40px;

      z-index: -1;

      width: 70px;
      height: 227px;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;

      color: $add-back-color;
    }

    &:nth-child(2)::after {
      content: "2";

      position: absolute;
      top: 0;
      left: 112px;

      margin-top: -40px;

      z-index: -1;

      width: 70px;
      height: 227px;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;

      color: $add-back-color;
    }

    &:nth-child(3)::after {
      content: "3";

      position: absolute;
      top: 0;
      left: 112px;

      margin-top: -40px;

      z-index: -1;

      width: 70px;
      height: 227px;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;

      color: $add-back-color;
    }

    &:nth-child(4)::after {
      content: "4";

      position: absolute;
      top: 0;
      left: 112px;

      margin-top: -40px;

      z-index: -1;

      width: 70px;
      height: 227px;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;

      color: $add-back-color;
    }
  }

  .site-list__item:first-child .site-list__item-content::after,
  .site-list__item:nth-child(2) .site-list__item-content::after,
  .site-list__item:nth-child(3) .site-list__item-content::after,
  .site-list__item:nth-child(4) .site-list__item-content::after {
    top: -115px;
    left: 0;

    width: 80px;
    height: 80px;
  }

  .site-list__item:first-child .site-list__item-content::before,
  .site-list__item:nth-child(2) .site-list__item-content::before,
  .site-list__item:nth-child(3) .site-list__item-content::before,
  .site-list__item:nth-child(4) .site-list__item-content::before {
    top: -100px;
    left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 245px;
    min-height: 300px;

    padding-right: 30px;
  }
}
