.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  min-height: 300px;

  @include reset-list();
}

.site-list__item {
  position: relative;

  display: inline-block;
  width: 280px;
  min-height: 60px;
  padding-left: 80px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $paragraph-font-color;
  box-sizing: border-box;
}

.site-list__item:first-child::before {
  content: "";

  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
       (min-resolution: $retina-dppx) {
  .site-list__item:first-child::before {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:first-child::after {
  content: "";

  position: absolute;
  left: 0px;
  top: -2px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

.site-list__item:nth-child(2)::before {
  content: "";

  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
       (min-resolution: $retina-dppx) {
  .site-list__item:nth-child(2)::before {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:nth-child(2)::after {
  content: "";

  position: absolute;
  left: 0px;
  top: -2px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

.site-list__item:nth-child(3)::before {
  content: "";

  position: absolute;
  left: 5px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
       (min-resolution: $retina-dppx) {
  .site-list__item:nth-child(3)::before {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:nth-child(3)::after {
  content: "";

  position: absolute;
  left: 0px;
  top: -2px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

.site-list__item:nth-child(4)::before {
  content: "";

  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
}

@media (min-resolution: $retina-dpi),
       (min-resolution: $retina-dppx) {
  .site-list__item:nth-child(4)::before {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px auto;
  }
}

.site-list__item:nth-child(4)::after {
  content: "";

  position: absolute;
  left: 0px;
  top: -2px;

  width: 60px;
  height: 60px;

  background-color: $components-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 21px;
  }

  .site-list__item {
    min-height: 318px;
    width: 46%; // 354px
    padding-right: 80px;
    padding-left: 0;
    padding-top: 113px;

    font-size: 16px;
    line-height: 24px;

    box-sizing: border-box;
  }

  .site-list__item:first-child::after,
  .site-list__item:nth-child(2)::after,
  .site-list__item:nth-child(3)::after,
  .site-list__item:nth-child(4)::after {
    top: 3px;

    width: 80px;
    height: 80px;
  }

  .site-list__item:first-child::before,
  .site-list__item:nth-child(2)::before,
  .site-list__item:nth-child(3)::before,
  .site-list__item:nth-child(4)::before {
    left: 15px;
    top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 245px;
    min-height: 300px;

    padding-right: 0;
  }
}
