.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  min-height: 300px;

  @include reset-list();
}

.site-list__item {
  display: inline-block;
  width: 280px;
  min-height: 60px;
  padding-left: 80px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $paragraph-font-color;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 21px;
  }

  .site-list__item {
    min-height: 318px;
    width: 46%; // 354px
    padding-right: 80px;
    padding-left: 0;
    padding-top: 113px;

    font-size: 16px;
    line-height: 24px;

    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 245px;
    min-height: 300px;

    padding-right: 0;
  }
}
